*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}
li{
    display: inline-block;
    float: left;
    border: 0;
    width: 20%;
    text-align: center;
    background-color: cyan;
    height: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.nav_top_menu{
    
}
.content_area{
    width: 1280px;
    height: 1300px;
    background-color: cornflowerblue;
    margin: 20px auto 0 auto;
    text-align: center;
}
.article_area{
    float: left;
    width: 945px;
    height: 100%;
    background-color: red;
    display: inline-block;
}
.aside_area{
    width: 335px;
    height: 100%;
    background-color: coral;
    display: inline-block;
}
